/* assets/css/style.css */
body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark background color */
    color: #fff; /* Light text color */
}

header, footer {
    background-color: #282c34; /* Dark header and footer background */
    color: #61dafb; /* Blue accent color */
    text-align: center;
    padding: 1em;
}

h1, h2 {
    color: #61dafb; /* Blue header text color */
}

main {
    padding: 1em;
}

a {
    color: #4caf50; /* Green link color */
}

/* Styling for article previews */
article {
    border-bottom: 1px solid #333;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

/* Styling for article titles */
article h2 {
    color: #61dafb; /* Blue title color */
}

/* Styling for article metadata */
article p {
    color: #888; /* Gray metadata color */
}

/* Styling for footer */
footer p {
    color: #888; /* Gray footer text color */
}

/* Styling for LinkedIn badge */
.linkedin-badge-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.linkedin-badge {
    margin-top: 20px;
}

/* Styling for Scroll-to-Top Banner */
.scroll-to-top-banner {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #61dafb; /* Blue banner background color */
    color: #fff; /* White banner text color */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.scroll-to-top-banner:hover {
    background-color: #4caf50; /* Green banner background color on hover */
}
