/* Reset default margin and padding */
body, h1, h2, h3, p, div, span {
    margin: 0;
    padding: 0;
}

/* Styling for Containers */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2b2b; /* Darker background color */
    padding: 10px;
    border-bottom: 2px solid #4a525a; /* Metallic border between header and main */
}

.title-description {
    text-align: center;
    margin: 0;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin: 0 10px; /* Adjust the spacing between icons */
}

/* General Styling */
body {
    font-family: 'Roboto', sans-serif; /* Roboto font */
    font-size: 16px; /* Standard font size */
    line-height: 1.6;
    color: #c0c0c0; /* Silver text color for dark mode */
    background-color: #1c1c1c; /* Dark background color */
}

main {
    padding: 4em 1em 1em 1em; /* Adjust the padding for content */
}

a {
    color: #4d94ff; /* Blue link color in metallic theme */
}

a:hover {
    color: #0066cc; /* Darker blue on hover */
}

/* Styling for Article Previews */
article {
    border-bottom: 1px solid #4a525a; /* Metallic border between articles */
    margin-bottom: 1em;
    padding-bottom: 1em;
}

/* Styling for Article Titles */
article h2 {
    color: #c0c0c0; /* Silver title color */
}

/* Styling for Article Metadata */
article p {
    color: #808080; /* Gray metadata color */
}

/* Remove default underlines from links */
a {
    text-decoration: none;
}

/* Styling for Footer (removed) */
/* footer {
    background-color: #2b2b2b; / * Darker footer background * /
    color: #c0c0c0; / * Silver text color * /
    text-align: center;
    padding: 1em;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #c0c0c0;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #4d94ff;
} */
