/* Reset default margin and padding */
body, h1, h2, h3, p, div, span {
    margin: 0;
    padding: 0;
}

/* Styling for Containers */
.social-container {
    display: flex;
    justify-content: center;
    background-color: #292c31; /* Dark background color */
    padding: 10px 0; /* Adjust the padding as needed */
    border-bottom: 2px solid #394247; /* Modern border between header and main */
}

/* Styling for Additional Icons in the Footer */
.footer-icons {
    display: flex;
    justify-content: center;
    background-color: #292c31; /* Dark background color */
    padding: 10px 0; /* Adjust the padding as needed */
    border-top: 2px solid #394247; /* Modern border between footer and main */
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    margin: 0 10px; /* Adjust the spacing between icons */
}

/* General Styling */
body {
    font-family: 'Roboto', sans-serif; /* Modern sans-serif font */
    font-size: 16px; /* Standard font size */
    line-height: 1.6;
    color: #fff; /* Light text color for dark mode */
    background-color: #1c1e22; /* Dark background color */
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the header is on top of other elements */
    background-color: #292c31; /* Dark header background in LinkedIn dark mode */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    color: #fff; /* White header text color */
}

main {
    padding: 4em 1em 1em 1em; /* Adjust the padding for content */
}

a {
    color: #0077b5; /* LinkedIn blue link color in dark mode */
}

a:hover {
    color: #005294; /* Darker blue on hover */
}

/* Styling for Article Previews */
article {
    border-bottom: 1px solid #444; /* Dark border between articles */
    margin-bottom: 1em;
    padding-bottom: 1em;
}

/* Styling for Article Titles */
article h2 {
    color: #fff; /* White title color */
}

/* Styling for Article Metadata */
article p {
    color: #ccc; /* Light gray metadata color */
}

/* Remove default underlines from links */
a {
    text-decoration: none;
}

/* Styling for Footer */
footer {
    background-color: #292c31; /* Dark footer background */
    color: #fff; /* White text color */
    text-align: center;
    padding: 1em;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
}

.footer-links a:hover {
    color: #0077b5;
}
