<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <!-- Icon on the Top Left for Main Page Link -->
        <div class="icon-container">
            <a href="{{ site.baseurl }}/">
                <img src="logos/main.png" alt="Main Page" class="icon" />
            </a>
        </div>

        <!-- Site Title and Description -->
        <div class="header-content">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>

            <!-- Container for Icons in the Header -->
            <div class="icon-container">
                <!-- LinkedIn Icon -->
                <a href="https://www.linkedin.com/in/youcefdjeddar" target="_blank">
                    <img src="logos/linkedin.png" alt="LinkedIn" class="icon" />
                </a>

                <!-- GitHub Icon -->
                <a href="https://github.com/youcefjd" target="_blank">
                    <img src="logos/github2.png" alt="GitHub" class="icon" />
                </a>

                <!-- Email Icon -->
                <a href="mailto:djeddar@icloud.com">
                    <img src="logos/email3.png" alt="Email" class="icon" />
                </a>
            </div>
        </div>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <!-- Container for Social Links in the Footer -->
        <div class="footer-links">
            <!-- LinkedIn Link -->
            <a href="https://www.linkedin.com/in/youcefdjeddar" target="_blank">LinkedIn</a>
            
            <!-- GitHub Link -->
            <a href="https://github.com/youcefjd" target="_blank">GitHub</a>
            
            <!-- Email Link -->
            <a href="mailto:djeddar@icloud.com">Email</a>
        </div>
    </footer>
</body>
</html>
