<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

    <!-- LinkedIn Badge Script -->
    <script src="https://platform.linkedin.com/badges/js/profile.js" async defer type="text/javascript"></script>

    <!-- Roboto Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Scroll-to-Top Banner Script -->
    <script>
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("scrollToTopBanner").style.display = "block";
            } else {
                document.getElementById("scrollToTopBanner").style.display = "none";
            }
        }

        function scrollToTop() {
            document.body.scrollTop = 0; // For Safari
            document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
        }
    </script>
</head>
<body>
    <!-- Scroll-to-Top Banner -->
    <div id="scrollToTopBanner" class="scroll-to-top-banner" onclick="scrollToTop()">Youcef's Blog</div>

    <header>
        <h1>{{ site.title }}</h1>
        <p>{{ site.description }}</p>
    </header>

    <main>
        {{ content }}
    </main>

 <!-- Containers for LinkedIn Badge and Icons -->
    <div class="social-container">
        <!-- LinkedIn Icon -->
        <div class="icon-container">
            <a href="https://www.linkedin.com/in/youcefdjeddar" target="_blank">
                <img src="linkedin-icon.png" alt="LinkedIn" class="icon" />
            </a>
        </div>

        <!-- GitHub Icon -->
        <div class="icon-container">
            <a href="https://github.com/yourusername" target="_blank">
                <img src="github-icon.png" alt="GitHub" class="icon" />
            </a>
        </div>

        <!-- Email Icon -->
        <div class="icon-container">
            <a href="mailto:your.email@example.com">
                <img src="email-icon.png" alt="Email" class="icon" />
            </a>
        </div>
    </div>


    <footer>
        <p>&copy; {{ site.title }} {{ site.time | date: "%Y" }}</p>
    </footer>
</body>
</html>


